{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}

<div class="card text-center mt-5">
    <div class="card-header">
        {{user.username}}의 프로필
    </div>
    <div class="card-body">
        <!-- <h5 class="card-title">{{user.username}}의 프로필</h5> -->
        {% if user.profile.image %}
        <img src="{{user.profile.image.url}}" class="rounded-circle" alt="" style="height: 100px; width:100px;"> {% else %}
        <img src="../../../static/images/hmm.png" class="rounded-circle" alt="" style="height: 100px; width:100px;"> {% endif %}
        <p class="card-text"></p>
        <p class="card-text">{{user.first_name}} {{user.last_name}}</p>
        <p class="card-text">매너온도 | {{user.celsius}}℃ {% if user.celsius < 36.5 %}<i class="bi bi-emoji-frown text-danger"></i>{% elif user.celsius == 36.5 %}<i class="bi bi-emoji-neutral"></i>{% else %}<i class="bi bi-emoji-smile text-primary"></i>{% endif %}</p>
        <p class="card-text">introduce | {{user.profile.introduce}}</p>
        <p class="card-text">nickname | {{user.profile.nickname}}</p>
        <p class="card-text">email | {{user.email}}</p>
        {% if request.user == user %}
        <a href="{% url 'accounts:edit' %}" class="btn btn-outline-dark">수정</a>
        <a href="{% url 'accounts:editpw' %}" class="btn btn-outline-dark">비밀번호 변경</a>
        <a href="{% url 'accounts:delete' %}" class="btn btn-outline-dark">탈퇴</a>
        <a href="{% url 'accounts:block_user' %}" class="btn btn-outline-dark">차단 목록</a>{% endif %}
    </div>
    <div class="card-footer text-muted">
        팔로잉 수 | {{user.followings.count}} / 팔로워 수 | {{user.followers.count}}
    </div>
    {% if request.user == user %} {% else %}
    <div class="d-flex justify-content-center">
        <a href="{% url 'chats:first_send' user.pk %}" class="btn btn-outline-dark">DM</a>
        <a href="{% url 'accounts:follow' user.pk %}" class="text-decoration-none">
        {% if request.user in user.followers.all %}
    <button class="btn btn-outline-dark m-2 me-0" type="button">
        팔로우 취소
    </button>
{% else %}
    <button class="btn btn-outline-dark m-2 me-0" type="button">
        팔로우
    </button>
</a> {% endif %}
<a href="{% url 'accounts:block' user.pk %}" class="text-decoration-none">
    {% if request.user in user.blockers.all %}
<button class="btn btn-outline-dark m-2" type="button">
    차단 취소
</button>
{% else %}
<button class="btn btn-outline-dark m-2" type="button">
    차단
</button>
</a> {% endif %}
{% endif %}
    </div>
</div>


{%for article in user.article_set.all %}
<div class="container">
    <p>
        <div class="card border-dark mb-3 test" style="max-width: 18rem; display: contents;">
            <div class="card-header">{{forloop.counter}}</div>
            <div class="card-body text-dark">
                <h5 class="card-title"><a class="text-decoration-none" href="{% url 'articles:detail' article.pk %}">{{article.title}}</a></h5>
            </div>
        </div>
    </p>
</div>
{% endfor %}{% endblock content %}