{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form article_form %}
    <input class='btn btn-outline-primary' type='submit' value='작성'>
    <a class='btn btn-outline-danger' href="{% url 'articles:index' %}">취소</a>
</form>
<script>
    window.setTimeout(function() {
    $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 1500);
</script>

{% endblock %}