{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<!-- 글 제목, 글 번호, 작성일자, 작성자 -->
<h3>{{ article.title }}</h3>
<p>{{ article.pk }}번째 글</p>
<p>{{ article.created_at }} | {{ article.updated_at }}</p>
<p>[작성자] {{ article.user.username }}</p>

<!-- 좋아요 -->
<a href="{% url 'articles:like_article' article.pk %}" style="text-decoration:none">
{% if request.user in article.like_users.all %}
  <i class="bi bi-chat-square-heart-fill"></i>
{% else %}
  <i class="bi bi-chat-square-heart"></i>
{% endif %}
</a> <span>{{ article.like_users.count }}</span>

<hr>
<!-- 이미지 -->
{% if article.image %}
<img src="{{ article.image.url }}" alt="{{ article.image }}">
{% endif %}

<!-- 글 내용 -->
<p>{{ article.content }}</p>
<hr>

<!-- 댓글 -->
<!-- 작성된 댓글 보여주기 -->
<p class="fw-bold">[작성된 댓글]</p>
{% for comment in comments %}
  <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
    {% csrf_token %}
    <a href="{% url 'accounts:profile' article.user.username %}">{{ article.user.username }}</a>:
    {{ comment.content }} {{ comment.parent_comment_id }}
    <p class="float-end"> <input type="submit" value="삭제"></p>
    {% comment %} <a class='btn btn-outline-success' href="{% url 'articles:comments_create' %}">댓글 답글</a> {% endcomment %}
  </form>

    {% if comment.parent_comment_id == null %}
    <form action="{% url 'articles:recomments_create' article.pk comment.pk %}" method="POST" id="main_form" class="comment_form">
      <div>
          &nbsp; &nbsp;<label for="comment">└─ 대댓글</label>
          <input type="text" name="content"> <input type="hidden" value="{{ comment.pk }}" name="parent">
          {% csrf_token %}
          <input type="submit" value="대댓글 등록"></div>
      </div>
    </form>
    {% else %}
    {{ comment.content }}
    {% endif %}

{% empty %}
<p><span class="text-danger">[System 알림]</span> 앗, 댓글이 없네요!</p>
{% endfor %}
<hr>
<form action="{% url 'articles:comments_create' article.pk %}" method="POST">
{% csrf_token %}
{% bootstrap_form comment_form %}
<input type='submit' value="댓글 작성" class="btn btn-outline-primary">
</form>

<!-- 글 수정/삭제 버튼 및 목록으로 돌아가기 버튼 -->
{% if request.user == article.user %}
<p>
  <a href="{% url 'articles:update' article.pk %}">수정하기</a>
  <a href="{% url 'articles:delete' article.pk %}">삭제하기</a>
</p>
{% endif %}
<p>
  <a href="{% url 'articles:index' %}">목록으로</a>
</p>

{% endblock content %}