{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중고의 집</title>

    <!-- bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <!-- bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

    <!-- bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="container">
        <!-- navBar -->

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">

                <!-- 중고의집 로고 -->
                <a class="navbar-brand text-success" href="{% url 'articles:index' %}" style="text-decoration:none;">
                    <a href="{% url 'articles:index' %}" style="text-decoration:none;" class="text-dark fw-bold"><img src="{% static './images/logo.png' %}" style="width:5rem; height:5rem;"></a>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

                <!-- 지역 커뮤니티, 중고거래 게시판, 검색 -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-dark ms-2 fw-bold" aria-current="page" href="{% url 'articles:index' %}" style="text-decoration:none;">지역 커뮤니티</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-bold" href="{% url 'products:index' %}" style="text-decoration:none;">중고거래</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-bold" href="{% url 'accounts:index' %}" style="text-decoration:none;">회원관리</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" style="height:40px;">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success m" type="submit" style="height:40px; width:80px;">검색</button>
                    </form>
                    <a class='btn btn-dark m-4' href="{% url 'chats:index' %}">채팅하기</a>


                </div>
                <a class="navbar-brand " href="{% url 'articles:index' %} "></a>
                {% else %}
                <a class="navbar-brand " href="{% url 'accounts:login' %} "></a>
                <span>방문해주셔서 감사합니다! 서비스를 이용하시려면 <a href="{% url 'accounts:signup' %} ">회원가입</a> 또는 <a href="{% url 'accounts:login' %} ">로그인</a>을 해주세요. 😎</span> {% endif %}

            </div>
        </nav>


        {% if request.user.is_authenticated %}
        <div class="mt-2 mb-2">
            <span>
                <a class="navbar-brand " href="{% url 'accounts:profile' user.username %} ">{{request.user}}</a>님, 로그인을 환영합니다. 어서오세요!
            </span>

            <span class="float-end">
                <a class="btn btn-outline-danger" href="{% url 'accounts:logout' %}" style="text-decoration:none;" role="button">
                  <i class="bi bi-box-arrow-right"></i>로그아웃</a>
            </span>
        </div>
        {% endif %}

        <!-- extends block-->
        {% block content %} {% endblock content %}
    </div>
</body>

</html>