{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h3>detail</h3>
    
    {% comment %} 게시글 정보 {% endcomment %}
    <h1>{{ products.title }}</h1>
    <div class="d-flex justify-content-between">
      <p>{{ products.user.username }}</p>
      <p>{{ products.created_at }}</p>
    </div>
    <h5>{{ products.price }}원</h5>
    <img src="{{ products.original_image.url }}" alt="{{ products.original_image }}" style="width:100%">
    <p>{{ products.content }}</p>

    {% comment %} 버튼 {% endcomment %}
    {% if request.user == products.user %}
      <a href="{% url 'products:update' products.pk %}" class="btn btn-outline-success ">수정</a>
      <a href="{% url 'products:delete' products.pk %}" class="btn btn-outline-danger">삭제</a>
    {% endif %}
    {% if request.user != products.user %}
      <a href="" class="btn btn-outline-warning"> 게시글 신고</a>
    {% endif %}
    {% if request.user != products.user %}
      <a href="" class="btn btn-outline-success">채팅하기</a>
    {% endif %}

    {% comment %} 지도 {% endcomment %}
    <h3 class="my-4">거래장소</h3>
    <div id="map" style="width:100%;height:350px;"></div>

    {% comment %} 위치 저장 {% endcomment %}
    <form action="{% url 'products:location' %}" method="POST">
      {% csrf_token %}
      <input type="button" id="btn-save" name="btn-save" value="저장" class="btn btn-outline-primary">
    </form>
    {% comment %} 위치 저장 {% endcomment %}
    <p>위도 : {{ location.input_lat }}</p>
    <p>경도 : {{ location.input_lon }}</p>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bd6208aaf90cdbe7ef8ee1aa6baef997"></script>
    <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng(37.553836, 126.969652), // 지도의 중심좌표
            level: 4 // 지도의 확대 레벨 
        }; 
    
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    
    // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
    if (navigator.geolocation) {
        
        // GeoLocation을 이용해서 접속 위치를 얻어옵니다
        navigator.geolocation.getCurrentPosition(function(position) {
            
            var lat = position.coords.latitude, // 위도
                lon = position.coords.longitude; // 경도
            
            var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                message = '<div style="padding:5px; width:14rem;">거래장소를 입력해주세요!!</div>'; // 인포윈도우에 표시될 내용입니다
            
            // 마커와 인포윈도우를 표시합니다
            displayMarker(locPosition, message);

            $("btn-save").click(function() {
              
              $.ajax({
                type: "POST",
                url: "{% url 'products:location' %}",
                data: { 'csrfmiddlewaretoken': '{{ csrf_token }}', 'lat': lat, 'lon': lon },
                dataType: "text",
                success: function (data) {
                  console.log('성공');
                  location.replace("{% url 'products:detail' products.pk %}");
                },
                error: function (request, status, error) {
                  console.log('실패');
                  console.log(request);
                  console.log(error);
                }
              }); // ajax END
            })// btn END
                
          });
        
    } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
        
        var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
            message = '사용자의 현재 위치를 알 수 없어요..'
            
        displayMarker(locPosition, message);
    }
    
    // 지도에 마커와 인포윈도우를 표시하는 함수입니다
    function displayMarker(locPosition, message) {
    
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({  
            map: map, 
            position: locPosition
        }); 
        
        var iwContent = message, // 인포윈도우에 표시할 내용
            iwRemoveable = true;
    
        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content : iwContent,
            removable : iwRemoveable
        });
        
        // 인포윈도우를 마커위에 표시합니다 
        infowindow.open(map, marker);
        
        // 지도 중심좌표를 접속위치로 변경합니다
        map.setCenter(locPosition);      

        // 마커가 드래그 가능하도록 설정합니다 
        marker.setDraggable(true); 

        //var markers.Position = [];
        //for(var i=0; i < markers.length; i++){
          //markers.Position[i] = [];

          //markers.getPosition();
          //markersPosition.push();
          //markersPosition[i][0] = markers.getPosition().getLat()
          //markersPosition[i][1] = markers.getPosition().getLng()
        //}
    }    
    {% comment %} 그럼 판매자가 지도에 마커를 옮기면 위도, 경도를 받아와서 저장해야하는 거겠지? {% endcomment %}
    </script>
    

    {% comment %} 다른 상품 {% endcomment %}
    <h3 class="my-3 mt-5">판매자가 파는 다른 상품</h3>
    {% comment %} 한번에 최대 n개만 보이고 화살표로 넘길 수 있게 하고 싶은데.. 흠 {% endcomment %}
    <div class="row">
      {% for product in products.user.products_set.all %}
        {% if products.pk != product.pk %}
          <div class="col-3">
            <div class="card" style="width: 18rem;">
              <img src="{{ product.formatted_image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="{% url 'products:detail' product.pk %}" class="text-decoration-none text-dark">
                  <h5 class="card-title text-nowrap text-truncate">{{product.title}}</h5>
                </a>
                <p>{{ product.user.username }}</p>
                <p class="card-text ">{{ product.price }}원</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}