{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h3>detail</h3>
    <h1>{{ products.title }}</h1>
    <div class="d-flex justify-content-between">
      <p>{{ products.user.username }}</p>
      <p>{{ products.created_at }}</p>
    </div>
    <h5>{{ products.price }}원</h5>
    <img src="{{ products.original_image.url }}" alt="{{ products.original_image }}" style="width:100%">
    <p>{{ products.content }}</p>
    {% if request.user == products.user %}
      <a href="{% url 'products:update' products.pk %}" class="btn btn-outline-success ">수정</a>
      <a href="{% url 'products:delete' products.pk %}" class="btn btn-outline-danger">삭제</a>
    {% endif %}
    <h3>판매자가 파는 다른 상품</h3>

  </div>
{% endblock %}