{% extends 'base.html' %}
{% block content %}
  <div class="container">

    <div class="card text-center my-4">
      <div class='text-end mt-3'>
        <a class='btn btn-warning btn-sm fw-bold' href="{% url 'products:create' %}">글쓰기
          <i class="bi bi-pencil"></i>
        </a>
      </div>
    </div>

    <div class="row">
      {% for product in products %}
        {% if product.user not in request.user.blocking.all %}
          <div class="col-3">
            <!-- 상품 제목이 2줄이 되면 높이가 달라짐 -->
            <div class="card" style="display:table; width:100% max-height:440px;">
              <img src="{{ product.formatted_image.url }}" class="card-img-top" alt="..." style="max-width:298px; max-height:298px;">
              {% if product.sold %}
                <div style="position: absolute; width:100% font-size:50px; text-align:center;" class="top-0">
                  <img class='bg-dark bg-opacity-25 rounded-circle' src="../../../static/images/soldout.png" alt="" style="width:100%;">
                </div>
              {% endif %}
              <div class="card-body" style="width:298px;">
                <a href="{% url 'products:detail' product.pk %}" class="text-decoration-none text-dark">
                  <h5 class="card-title" style="wigth:">{{product.title}}</h5>
                </a>
                <p>{{ product.user.username }}</p>
                <p class="card-text fw-bold fs-4">{{ product.price }}원</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}